table {background-color:#f2e6ff; border-radius:10px; margin:40px auto 40px auto; width:800px; border:solid 1px #aaaaaa;}
th {background-color:#cc99ff; text-align:left; padding:10px;}
td {vertical-align:top; padding:10px; border:solid 1px #ffffff;}